<footer>
    <div>
        &copy   Michal Dyzma 2017
    </div>
</footer>

<!-- jQuery -->
<script type="text/javascript" src="{% raw %}{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}{% endraw %}"></script>
<!-- tether -->
<script type="text/javascript" src="{% raw %}{{ url_for('static', filename='js/tether.min.js') }}{% endraw %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% raw %}{{ url_for('static', filename='js/bootstrap.min.js') }}{% endraw %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% raw %}{{ url_for('static', filename='js/mdb.min.js') }}{% endraw %}"></script>
