<footer>
    <div style="text-align:center;">
        &copy   Michal Dyzma 2017
    </div>
</footer>

<!-- jQuery -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<!-- tether -->
<script type="text/javascript" src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
