<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | MD-Analytics</title>
        {% include "includes/head.html" ignore missing %}
        {% block seo %}{% endblock %}  
    </head>
    <body>
        <!-- Top navigation bar from include -->
        {% include "includes/nav.html" ignore missing %}
        <!-- Messages flashed to the user -->
        {% include "includes/messages.html'" ignore missing %}
        <!-- Main content block -->
        {% block content %}{% endblock %}
        <!-- Footer from include -->
        {% include "includes/footer.html" ignore missing %}
    </body>
</html>
