<!DOCTYPE html>
<html lang="en">
    <!--[if lt IE 7]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
        <html class="no-js">
    <!--<![endif]-->
    <head>
        <title>{% block title %}{% endblock %} | MD-Analytics</title>
        {% include {{ url_for('templates', filename='includes/head.html') }}
        {% block seo %}{% endblock %}  
    </head>
    <body>
        <!-- Top navigation bar from include -->
        {% include {{ url_for('templates', filename='includes/nav.html') }}
        <!-- Messages flashed to the user -->
        {% include {{ url_for('templates', filename='includes/messages.html') }}
        <!-- Main content block -->
        {% block content %}{% endblock %}
        <!-- Footer from include -->
        {% include {{ url_for('templates', filename='includes/footer.html') }}
    </body>
</html>
